<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="user_profile card-body">
    <div class="row field">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, class: "avatar_img img-fluid" %>
        <% else %>
          <%= image_tag "/assets/default.png", class: "default_avatar img-fluid" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 mt-5">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="input-group mt-5 mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">name</span>
      </div>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text form-control" id="inputGroup-sizing-default">email</span>
      </div>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">pass</span>
      </div>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">pass</span>
      </div>
      <%= f.password_field :password_confirmation, placeholder: "パスワード再入力", class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "アカウント登録" %>
    </div>
  </div>
<% end %>
