<%= form_with(model: picture, local: true, url: new_or_edit) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="show_user">
    <% if current_user.avatar? %>
      <%= image_tag current_user.avatar.thumb.url, class: "avatar_img" %>
    <% else %>
      <%= image_tag "/assets/thumb_default02.png", class: "default_avatar img-fluid" %>
    <% end %>
    <%= current_user.name %>
  </div>
  <div class="field">
    <%= image_tag @picture.image.url, class: "picture_img img-fluid", id: "img_prev" if @picture.image? %>
    <%= f.file_field :image, id: "select_img" %>
    <script type="text/javascript">
    $(function() {
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#img_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $("#select_img").change(function(){
        readURL(this);
      });
    });
    </script>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "キャプションを入力…", class: "text_entry" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
