<!DOCTYPE html>
<html>
  <head>
    <title>CloneAppIg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/27e4cb0d9e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <% if logged_in? %>
        <%= link_to pictures_path, class: "header_icon" ,method: :get do %>
          <i class="fas fa-home"></i>
        <% end %>
        <%= link_to users_path, class: "header_icon", method: :get do %>
          <i class="far fa-compass"></i>
        <% end %>
        <%= link_to user_path(current_user.id), class: "header_icon", method: :get do %>
          <i class="fas fa-user-circle"></i>
        <% end %>
        <%= link_to session_path(current_user.id), class: "header_icon_value", method: :delete do %>
          <i class="fas fa-sign-out-alt"> LOGOUT</i>
        <% end %>
      <% else %>
        <%= link_to new_user_path,class: "header_icon_value", method: :get do  %>
          <i class="fas fa-user-plus"></i> SIGNUP
        <% end %>
        <%= link_to new_session_path, class: "header_icon_value", method: :get do %>
          <i class="fas fa-sign-in-alt"></i> LOGIN
        <% end %>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
